/* CSS Reset - para zerar margem, padding e borda */
* {
    margin: 0;
    border: 0;
    font-family:'Nunito', sans-serif;
    
    /* background-image: url("img/background.jpg");
    background-repeat: no-repeat; */

}

/* Cabeçalho */

#topo {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #0A1F44, #1F5EA8, #2F80ED, #8FD0FF);
    height: 135px;
}

.meulogo {
    height: 250px;
    width: auto;
    display:block;
}

.menu {
    display: flex;
    align-items: center;
}

.Flex {
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

/* Container Principal */

.inicio, .familia, .jogo {
    padding: 90%wh;
    margin: 0 15px;
    margin-top: 15px;
    font-size: 14px;
    align-items: center;
    text-align: justify;
    display:block;
    text-indent: 15px;
    border-bottom: #6099da 2px solid;
    color: blanchedalmond;
}

h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

p {
    width:500px;
    max-width: 95%;
    height: auto;
    margin: 10px;
    font-size:18px;
}

.imgsobre, .imgfamilia, .imgjogo{
    width: 500px;
    max-width: 90%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}

.imgsobre {
    margin-top: 25px;
}

/* Seção de Projetos */

.Flex1 {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.projetos {
    margin:20px 0 10px 0;
    color:white;
    text-align: center;
    border:white 2px solid;
    border-radius: 5px;
}

.imgprojetos {
    height:120px;
    width:90%;
    margin-top: 15px;
    border-radius: 5px;
    border: #ffffff 2px;
    text-align: center;
}

h3 {
    margin-top: 50px;
}

/* Botão inferior */

#botao {
    position: fixed;
    right:5px;
    bottom:10px;
}

/* Rodapé */

footer {
    color:white;
    font-size: 10px;
    text-align: center;
    margin-top:10px;
    background: linear-gradient(135deg, #0A1F44, #1F5EA8, #2F80ED, #8FD0FF);
    padding: 5px 0;
    border-top: #6099da 2px solid;
}

.pfooter {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}

/* Smartphone Portrait*/

@media (max-width: 575px) {
    body {
        background-color: #0c3a6d;
    }

    #check {
        display: none;
    }

    label {
        font-size: 35px;
        color: white;
        cursor: pointer;
    }

    nav ul {
        position: fixed; 
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: #6099da;
        flex-direction: column;
        padding-top: 80px;
        transition: 0.3s;
    }

    #check:checked ~ ul {
        left: 0;
    }

    nav label {
        z-index: 1001;
    }

    .inicio, .familia, .jogo {
        flex-direction: column;
    }
}

/* Smartphone Landscape */

@media (min-width: 576px) {

    body {
        background-color: #0c3a6d;
    }
    .Container {
        width: 540px;
    }
}

/* Tablet Portrait */

@media (min-width: 768px) {

    body {
        background-color: #0c3a6d;
    }

    .Container {
        width: 720px;
    }

    }

/* Tablet Landscape */

@media (min-width: 992px) {

    body {
        background-color: #0c3a6d;
    }
        
    .Container {
        width: 960px;
    }
    
}
/* PC */

@media (min-width: 1099px) {
    
    body {
        background-color: #0c3a6d;
    }
    
    .Container {
        width: 1140px;
    }
}

